body {
    background: white;
    color: black;
    margin: 0px;
    font-family: "Edu VIC WA NT Beginner", cursive;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px blueviolet;
    padding: 20px;
    font-size: 32px;
    color: blueviolet;
}

.chamada {
    background: rgb(244, 70, 75);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    font-size: 10px;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}
.categoria-videos {
    display: flex;
    overflow-x: scroll;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.1;
    height: 200px;

}

.categoria-videos img:hover {
    opacity: 1.0;
}
.categoria h2{
    color: blueviolet;
}